<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @post.user_id %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<!-- <h2>Comments</h2>
<%# render @post.comments %> -->

<p>
  <b>Latitude:</b>
  <%= @post.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @post.longitude %>
</p>

<h2>Add a comment:</h2>
 

<%= render :partial => @post %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<h2>Comments</h2>
<div id="comments">
  <%= render @post.comments %>
</div> 

<%= form_for Comment.new do |f| %>
  <%= f.hidden_field :post_id, value: @post.id%>
    <p>
      <%= f.label :body, "New comment" %><br/>
    <%= f.text_area :body %>
    </p>
  <p><%= f.submit "Add comment" %></p>
<% end %>

